<div class="container">
  <div nz-row nzType="flex" class="title" nzJustify="center">
    <h1>Signup</h1>
  </div>

  <form [formGroup]="signupform" class="form" (ngSubmit)="submit()">
    <div class="form-item">
      <div nz-row nzSpan="12">
        <nz-form-label nz-col nzSpan="8" nzRequired nzNoColon>Name </nz-form-label>
        <div nz-col nzSpan="16">
          <input type="text" nz-input formControlName="name" fullWidth placeholder="Roy" />
          <div ngxErrors="name">
            <div ngxError="required" [when]="['dirty','touched']" class="alert alert-danger">
              Name is Empty
            </div>
            <div ngxError="minlength" [when]="['dirty']" class="alert alert-danger">
              Minimum 3 Characters Required
            </div>
            <div ngxError="maxlength" [when]="['dirty']" class="alert alert-danger">
              Maximum 30 Characters Required
            </div>
            <div ngxError="pattern" [when]="['dirty']" class="alert alert-danger">
              Invalid Characters Found in the field
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-item">
      <div nz-row nzSpan="12">
        <nz-form-label nz-col nzSpan="8" nzRequired nzNoColon>Email Address </nz-form-label>
        <div nz-col nzSpan="16">
          <input type="email" nz-input formControlName="email" fullWidth placeholder="xyz@abc.com" />
          <div ngxErrors="email">
            <div ngxError="required" [when]="['dirty','touched']" class="alert alert-danger">
              Email Address is Empty
            </div>
            <div ngxError="email" [when]="['dirty']" class="alert alert-danger">
              Invalid Email Address Format
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-item">
      <div nz-row nzSpan="12">
        <nz-form-label nz-col nzSpan="8" nzRequired nzNoColon>Password </nz-form-label>
        <div nz-col nzSpan="16">
          <input type="password" nz-input formControlName="password" fullWidth placeholder="*******" />
          <div ngxErrors="password">
            <div ngxError="required" [when]="['dirty','touched']" class="alert alert-danger">
              Password is Empty
            </div>
            <div ngxError="minlength" [when]="['dirty']" class="alert alert-danger">
              MUST contain at least 5 characters

            </div>

          </div>
        </div>
      </div>
    </div>
    <div nz-row nzSpan="12">
      <div nz-col nzSpan="16" nzOffset="8" class="form-item align-btn" nz-row nzType="flex" nzJustify="center">
        <button nz-button [disabled]="signupform.invalid" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>